*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: tomato;
    text-align: center;
    color: white;
    position: relative;
}
ul{
    width: 100%;
    list-style-type: none;;
}

